<div class="container mt-3 text-center">
  <a href="/" style="text-decoration: none; color:black;">
    <h1>URL shortener</h1>
    <div class="my-5">
      <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png"
        alt="link-image" class="img-fluid" width="200">
    </div>
  </a>
  <div class="d-flex flex-column align-items-center">
    <h3>Success ! Please use the link</h3>
    <a href="{{url.originalUrl}}"> http://localhost:3000/{{ shortenUrl }}</a>
    <button type="button" class="btn btn-secondary mt-3" style="max-width:100px;">Copy</button>
  </div>
  <div class="text-end">
    <a href="/" class="btn btn-dark rounded-circle"><i class="fa-regular fa-circle-left"></i></a>
  </div>

</div>